<div id="content-view" class="ng-scope">
    <nav-head></nav-head>
    <div class="content">
        <main class="container page-themes">
            <div class="category-list">
                <div class="category-header">
                    <form class="form-inline col-lg-12">
                        <div class="form-group form-group-lg">
                            <input type="text" name="q" class="form-control input-lg" placeholder="Search Account Here ">
                        </div>
                        <button type="submit" class="btn btn-lg btn-success">Search</button>
                    </form>
                </div>

            </div>
            <footer class="container">
                <div id="featured">
                    <div class="col-lg-4 col-xs-6" ng-repeat="account in accounts">
                        <div class="feature">
                            <a ng-click="getAccountDetail(account.sub_id)" class="feature">{{account.company_name}}</a>
                        </div>
                    </div>
                </div>
            </footer>
        </main>
    </div>
</div>
