<!-- <body id="project-dash">
    <div class="sidebar sidebar-dash flex-column">
        <div class="sidebar sidebar-dash flex-column">
            <side-bar></side-bar>
        </div>
    </div>
    <div id="content-view" class="ng-scope">
        <div class="content">
            <div ui-view name=""></div>
        </div>
    </div>
</body> -->
<div id="page-wrapper" class="open">
    <div id="sidebar-wrapper">
        <ul class="sidebar" ng-nicescroll>
            <li class="sidebar-main">
                <a href="">
               {{company.company_name}}
                </a>
            </li>
            <side-bar></side-bar>
        </ul>
    </div>
    <div id="content-wrapper">
        <div class="page-content">
            <!-- Header Bar -->
            <nav-header></nav-header>
        </div>
        <div class  = "right-side" ui-view name="appView"></div>
    </div>
</div>
