<!-- <div id="content-view">
            <div <div ui-view></div>
        </div> -->
<div id="content-view" class="ng-scope">
    <div class="content">
        <main class="container page-themes">
            <div class="category-list">
                <div class="category-header">
                    <hgroup>
                        <h1>List of Accounts</h1>
                    </hgroup>
                    <ul role="tab-list">
                        <label class="form-group">
                            <input type="text" name="q" class="form-control" placeholder="Search ">
                        </label>
                    </ul>
                </div>
            </div>
            <footer class="container">
                <div id="featured">
                    <div class="col-lg-4 col-xs-6" ng-repeat="account in accounts">
                        <div class="feature">
                            <a ng-click="getAccountDetail(account.sr_id)" class="feature">{{account.company_name}}</a>
                        </div>
                    </div>
                </div>
            </footer>
        </main>
    </div>
</div>
<!--  <div id="dash-content" class="flex-column">
        <nav-header></nav-header>
        <div class="col-md-12">
            <div class="col-md-2">
                <side-bar></side-bar>
            </div>
            <div class="col-md-9">
                <div ui-view></div>
            </div>
        </div>
    </div> -->
