
    <div id="dash-content" class="flex-column">
        <nav-header id="header"></nav-header>
        <!-- <div id="content-view">
            <div <div ui-view></div>
        </div> -->
        <main class="container ">
            <div class="category-list">
                <div class="category-header">
                    <hgroup>
                        <h1>QWWASDAS</h1>
                    </hgroup>
                    <ul role="tab-list">
                        <label class="form-group">
                            <input type="text" name="q" class="form-control" placeholder="Search ">
                        </label>
                    </ul>
                </div>
            </div>
            <footer class="container">
                <div id="featured">
                    <a href="index-2.html" class="feature">AWDASDASDASD</a>
                </div>
            </footer>
        </main>
        <!--  <div id="dash-content" class="flex-column">
        <nav-header></nav-header>
        <div class="col-md-12">
            <div class="col-md-2">
                <side-bar></side-bar>
            </div>
            <div class="col-md-9">
                <div ui-view></div>
            </div>
        </div>
    </div> -->
    </div>
