<div ng-app="myApp">
    <div class="panel menu-panel">
        <div class="menu-wrapper">
            <div class="divider"></div>
            <div class="panel-menu">
                <my-container></my-container>
                <!--  <ul>
                    <li href=""="active" class="active">
                        <i class="gear"></i> General
                    </li>
                    <li href=""="active" class="active">
                        <i class="key"></i> Sample
                    </li>
                </ul> -->
                 
            </div>

            <div class="panel-body ng-scope">

                <div ui-view></div>
            </div>
        </div>
    </div>
</div>
