<!DOCTYPE html>
<html ng-app="myApp">
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="author" content="">
<title>MY APP</title>
<link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
<link href="app/css/style.css" rel="stylesheet">
<!-- <link rel="stylesheet" href="css2/style1.css" type="text/css" media="screen" /> -->
<link rel="stylesheet" href="app/css/styles.css" type="text/css" media="screen" />
<link rel="stylesheet" href="css/styles.css" type="text/css" media="screen" />
<link href="css/morris.css" rel="stylesheet">

<body id="project-dash">
    <div class="sidebar sidebar-dash flex-column">
        <div class="sidebar sidebar-dash flex-column">
            <nav class="navbar navbar-default top-navbar" role="navigation">
                <div class="navbar-header">
                    <a class="navbar-brand" href="index.html">Lucky</a>
                </div>
            </nav>
            <ul class="nav nav-sidebar nav-sidebar-dash">
                <li>
                    <a class="nav-sidebar-btn" ui-sref="supplier">
                        <div class="icon-box icon-app-push"></div>
                        <p>Push</p>
                    </a>
                </li>
                <li>
                    <a class="nav-sidebar-btn" ui-sref="analytic">
                        <div class="icon-box icon-app-analytics"></div>
                        <p>Analytic</p>
                    </a>
                </li>
                <li>
                    <a class="nav-sidebar-btn" ui-sref="deploy">
                        <div class="icon-box icon-app-deploy"></div>
                        <p>Deploy</p>
                    </a>
                </li>
                <li>
                    <a class="nav-sidebar-btn" ui-sref="package">
                        <div class="icon-box icon-app-package"></div>
                        <p>Package</p>
                    </a>
                </li>
                <li>
                    <a class="nav-sidebar-btn" ui-sref="user">
                        <div class="icon-box icon-app-users"></div>
                        <p>Users</p>
                    </a>
                </li>
                <li class="divider"></li>
                <li ui-sref-active="active">
                    <a class="nav-sidebar-btn" ui-sref="setting">
                        <div class="icon-box icon-app-config"></div>
                        <p>Settings</p>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div id="dash-content" class="flex-column">
        <header id="header">
            <div id="breadcrumbs">
                <span ng-repeat="path in _paths">
            <span ng-if="!$first">Info</span>
            </div>
            <div class="collapse navbar-collapse" id="navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li> <a class="link-dash" ng-href="">Docs</a> </li>
                    <li> <a class="link-dash" href="">Support</a> </li>
                    <li>
                        <user-menu>
                            <li>
                                <a class="link-dash" href="">
                                    <img src="app/css/img/avatar.jpg" style="width: 15px">LuckyBoy </a>
                            </li>
                        </user-menu>
                    </li>
                </ul>
            </div>
            <subtabs></subtabs>
        </header>
        <div id="content-view" class="ng-scope">
            <div class="content">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h2>Bar Graph</h2>
                        <div class="panel-body">
                            <div bar-chart bar-data="data" bar-x='{{xaxis}}' bar-y='yaxis' bar-labels='["Series A", "Series B"]' bar-colors='["#31C0BE", "#c7254e"]' bar-hide-hover="'always'">
                            </div>
                        </div>
                        <div class="text-right">
                            <a href="#">View Details <i class="fa fa-arrow-circle-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    </span>
    </div>
    </header>
    </div>
</body>

</html>
