#header {
    background-color: #FFFFFF !important;
}

body {
    background-color: #f5f5f5 !important;
}

.link-dash {
    color: #93969a !important;
}

.sidebar {
    background-color: #393F4A !important;
}


/*.sidebar {
    
    background-color: #124E8A !important;

}*/

.icon-app-push,
.icon-app-overview,
.icon-app-analytics,
.icon-app-deploy,
.icon-app-creator,
.icon-app-config,
.icon-app-users,
.icon-apps,
.icon-app-package {
    background-image: url('./img/icons-sidebar-28x28.png') !important;
}

#content-view {
    background-color: #E8EBF1 !important;
}

#breadcrumbs span {
    color: #f5f5f5 !important;
}

.nav-sidebar-dash .nav-sidebar-btn {
    color: #f5f5f5 !important;
}

#featured .feature {
    background: #3782fe !important;
}

.nav>li>.link-dash:hover,
.nav>li>.link-dash:focus {
    color: #e5e5e5 !important;
    background-color: #0F0F0F !important;
}

@media (min-width: 1200px) .container {
    width: 1000px !important;
}

.navbar-default {
    background-color: #4B515B !important;
    border-color: #4B515B !important;
}
.navbar-default .navbar-brand {
    color: #FFFFFF !important;
}
.menu-panel .panel-menu ul li i {
    
    background-image: url('./img/app-settings-icons.png') !important;
}