<table class="table table-ionic table-action">
    <thead>
        <tr>
            <th colspan="1">Key</th>
            <th colspan="1">Description</th>
        </tr>
    </thead>
    <tbody>
        <tr class="item ng-scope">
            <td style="position: relative;">
                <div class="activity-info">
                    <span class="item-title ">
                                        <span>Note</Span>
                    </span>
                </div>
            </td>
            <td style="position: relative;">
                <div class="activity-info">
                    <span class="item-title ">
                                        <span>SASDASD</Span>
                    </span>
                </div>
            </td>
            <td class="row-actions">
                <ul>
                    <li>EDIT</li>
                    <li class="deploy-action">DEPLOY</li>
                </ul>
            </td>
        </tr>
        <tr class="item-scope">
            <td style="position: relative;">
                <div class="activity-info">
                    <span class="item-title ">
                                        <span>Sample</Span>
                    </span>
                </div>
            </td>
            <td style="position: relative;">
                <div class="activity-info">
                    <span class="item-title ">
                                        <span>SASDASD</Span>
                    </span>
                </div>
            </td>
            <td class="row-actions">
                <ul>
                    <li>EDIT</li>
                    <li class="deploy-action">DEPLOY</li>
                </ul>
            </td>
        </tr>
    </tbody>
</table>
