<div class="panel panel-default">
    <div class="panel-heading">
        <div class="panel-body">
            <div class "table-responsive">
                <table class="table table-ionic table-action">
                    <thead>
                        <tr>
                            <th colspan="1">Recent Activity</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="item-scope">
                            <td style="position: relative;">
                                <div class="activity-info">
                                    <span class="item-title ">
                                        <span>Note</Span>
                                    </span>

                                </div>
                            </td>
                            <td class="row-action">
                                <li>EDIT</li>
                                <li class="deploy-action">DEPLOY</li>
                            </td>
                        </tr>
                        <tr class="item-scope">
                            <td style="position: relative;">
                                <div class="activity-info">
                                    <span class="item-title ">
                                        <span>Sample</Span>
                                    </span>

                                </div>
                            </td>
                            <td class="row-action">
                                <li>EDIT</li>
                                <li class="deploy-action">DEPLOY</li>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
