<div class="row">
    <div id="main-wrapper">
        <div id="main-page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <div class="main-jumbotron">
                        <div class="box box-info">
                            <div class="box-body chart-responsive">
                                <div style="height: 300px;" line-chart line-post-units="'%'" line-data='linedata.data' line-xkey='{{linedata.xkey}}' line-ykeys='linedata.ykeys' line-labels='linedata.labels' line-colors='linedata.lineColors'>
                                </div>
                                <!-- /.box-body -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
