<div class="row" ng-controller="analyticCtrl">
    <h1 style=" text-align: center " class="page-header">Welcome!</h1>
</div>
<div class="jumbotron">
    <div>
        <nvd3-line-chart data="exampleData" id="arrayExample" width="800" height="400" showXAxis="true" showYAxis="true" tooltips="true" interactive="true" xAxisTickValues="[50, 100, 70]" xAxisTickFormat="xAxisTickFormatFunction()" margin="{left:50,top:50,bottom:50,right:50}">
            <svg></svg>
        </nvd3-line-chart>
    </div>
</div>
