<div class="panel panel-default">
    <div class="panel-heading">
        <div class="box-header">
            <h3 class="box-title">Line Chart</h3>
        </div>
        <div class="box box-info">
            <div class="box-body chart-responsive">
                <div style="height: 300px;" line-chart line-post-units="'%'" line-data='linedata.data' line-xkey='{{linedata.xkey}}' line-ykeys='linedata.ykeys' line-labels='linedata.labels' line-colors='linedata.lineColors'>
                </div>
                <!-- /.box-body -->
            </div>
        </div>
    </div>
</div>
