<div class="panel panel-default">
    <div class="panel-activity">
        <div class="activity">
            <div class "table-responsive">
                <table class="table table-ionic table-action">
                    <thead>
                        <tr>
                            <th colspan="1">Table</th>
                        </tr>
                    </thead>
                    <thead>
                        <tr>
                            <th>Build</th>
                            <th>Status</th>
                            <th>Platform</th>
                            <th>Started</th>
                            <th>Build Time</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr classs="ng-scope">
                            <td style ="text-align:center;">
                                ASDAWDASDASDASD
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
